// 美化滚动条

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

// 滑动条背景
::-webkit-scrollbar-track {
  width: 6px;
  border-radius: 2em;
}

// 滑动条本身
::-webkit-scrollbar-thumb {
  min-height: 6px;
  cursor: pointer;
  background-color: #dddee0;
  background-clip: padding-box;
  border-radius: 2em;
  transition: background-color 0.3s;
}

// 滑动条鼠标悬浮时
::-webkit-scrollbar-thumb:hover {
  background-color: #c7c9cc;
}
